// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles 
body,
html, 
.body {
  background: #f3f3f3 !important;
}

.container.header {
  background: #f3f3f3;
}

.body-drip {
  border-top: 8px solid #663399;
}

// Full Width Headers
.header {
  background: #8a8a8a;
}

.header .columns {
  padding-bottom: 0;
}

.header p {
  color: #fff;
  padding-top: 15px;
}

.header .wrapper-inner {
  padding: 20px;
}

.header .container {
  background: transparent;
}

// Social Media
table.button.facebook table td {
  background: #3B5998 !important;
  border-color: #3B5998;
}

table.button.twitter table td {
  background: #1daced !important;
  border-color: #1daced;
}

table.button.google table td {
  background: #DB4A39 !important;
  border-color: #DB4A39;
}

.wrapper.secondary {
  background: #f3f3f3;
}
.the-content {
  padding-left: 50px !important;
  padding-right: 50px !important;
}
.the-content p {
  color: #989898;
  font-size: 18px;
  margin-bottom: 30px;
}
.the-content p.dark-gray {
  color: #373041;
  font-weight: 600;
}
.the-footer p {
  color: #777777;
}
.the-footer h1 a {
  font-style: italic;
  font-weight: bold;
  color: #777777;
  font-size: 24px;
}
.the-footer .copyright {
  font-size: 14px;
}